body {
    margin: 0 auto;
    background-color: #EBEBEB;
    font-family: 'Open Sans', sans-serif;
}

a {
    /*
        Getting rid of default formatting for <a> elements. `inherits` tells that
        `a` elements should use the value set on its parent for these properties.
    */
    text-decoration: inherit;
    color: inherit;
}

.top-header{
    background-color: white;
    width: 100%;
    margin-top: 20px;
    height: 75px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}

.top-header .left-placeholder, 
.top-header .right-placeholder {
    flex-grow: 1;
}

.top-header .right-placeholder {
    background-color: white;
}

.top-header .top-header-content {
    width: 1070px;
    display: flex;
    background-color: white;
}

.top-header .logo {
    margin-left: 10%;
    width: 180px;
    height: 75px;
    float: left;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center; /* Alinha verticalmente */
}

.top-header .logo img {
    /* Center the image horizontally in the container */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
 /* Image not centered */
}

.top-header .nav-menu {
    display: flex;
    /* flex positionning of children */
    align-items: center;
    justify-content: start;

    /* flex property of this element, relative to its parent,
    asking to take the whole available width in the parent */
    flex-grow: 1;

    padding-bottom: 15px;
}

.top-header .nav-menu .menu-item {
    font-size: 14px;
    font-weight: 600;
    color: #1b1b1b;
    padding-top:10px ;
    padding-bottom:10px ;
    padding-left:15px ;
    padding-right:15px ;
    margin-left:10px ;
    margin-right:10px ;

}

.top-header .nav-menu .menu-item.active,
.top-header .nav-menu .menu-item:hover {
    background-color: #eee;
    border-radius: 30px;
}

.top-header .nav-menu2 {
    display: flex;
    /* flex positionning of children */
    align-items: center;
    justify-content: end;

    /* flex property of this element, relative to its parent,
    asking to take the whole available width in the parent */
    flex-grow: 1;

    padding-bottom: 15px;
}

.top-header .nav-menu2 .menu-item {
    font-size: 14px;
    font-weight: 600;
    color: white;
    background-color: #72ac51;
    border-radius: 30px;
    padding-top:10px ;
    padding-bottom:10px ;
    padding-left:15px ;
    padding-right:15px ;
    margin-left:10px ;
    margin-right:10px ;

}

.top-header .nav-menu2 .menu-item:hover {
    background-color: #47752d;
    border-radius: 30px;
    margin-left:10px ;
    margin-right:10px ;
}




.page-content {
    width: 1070px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    background-color: #ebebeb;

    display: flex;
}

.page-content .left-panel{
    width: 25%;
    background-color: #ebebeb;

}


.menu-panel{
    height: fit-content;
    width: 25%;
    margin-top: 20px;
    float: left;
    background-color:white;
}


.menu-item{
    display: block;
    padding: 20px;
    color: #1b1b1b;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: solid 1px #1b1b1b;
}


.menu-item.active{
    background-color: #76AE56;
    color: white;
}

.right-panel {
    width: 75%;
    float: left;
}

.content {

    width: 47%;
    margin-left: 3%;
    height: auto;
    float: left;
    background-color: white;
    padding-bottom: 0;
}

.title{
    margin-left: 3%;
    margin-top: 40px;
    font-size: 36px;
    color:#565656;
    font-weight: 400;
}

.title-content{
    font-size: 20px;
    margin: 10px;
    margin-top: 15px;
    color: #1b1b1b;
    font-weight: 600;
}

.text-content{
    font-size: 15px;
    margin: 10px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #1b1b1b;
    font-weight: 400;
}

.image-content{
    width: 100%;
    margin-bottom: 0;
}

.bottom-page{
    display: flex;
    justify-content: center;
}

.login-form{
    width:570px;
    margin-top: 20px;
    padding:60px;
    background-color: white;
    height: fit-content;
}

.login-title{
    margin-top:7px;
    margin-bottom:10px ;
    font-size: 32px;
    color:#565656;
    font-weight: 400;
}

input {
    width: 450px; 
    height: 45px; 
    border: 1px solid #ebebeb;
    margin-bottom: 10px;
    padding-left: 10px; 
    font-size: 16px;
    color: #565656;
    font-weight: 400;
  }

  input[type="email"]:focus, input[type="password"]:focus {
    outline: 1px solid #72ac51; 
  }
  
  input[type="email"]:invalid, input[type="password"]:invalid {
    outline: 1px solid red; 
  }

  input[type="submit"] {
    height: 42px;
    width: 450px;
    background-color: #72ac51;
    color: white; 
    padding: 10px;
    border: none;
    border-radius: 30px; 
    font-size: 14px;
    font-weight: 600;
  }
  
  input[type="submit"]:hover {
    background-color: #47752d;
  }

